// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  
  footer-bg : #262626,
  color-bg: #f4f4f4,
  header-bg : #ffa100,
  sidebar-bg :#262626,
  menu-bg : #262626,
  menu-active-bg : #4d4d4d,
  menu-active-fg : #ffffff,
  menu-icon-active-color : #f8f9fa,
  menu-fg : #a4abb3e8,

  font-main: Roboto,
  font-secondary: Exo,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), cosmic, cosmic);
